body{
	font-family: sans-serif;
}

header{
	text-align: center;
}

nav{
	text-align: left;
}

h1{
	font-size: 60px;
}

.p1{
    font-size: 20px;
	border-radius: 150px;
	margin: 0px 120px;
}

.main{
	margin: 30px 40px;	
}

.box1 {
  box-sizing: border-box;
  border: 5px solid black;
  background-color: red;
  width: 100%;
  height: 80px;
  margin: 10px auto;
  text-align: center;
}

.box1 h1{
	margin: 0px;
}

.text{
	display: grid;
  border: 5px solid black;
  background-color: aqua;
  margin: 10px 50px ;
  padding: 5px 10px 
}

div{
  font-family: mono;
  border: 1px black solid;
}

.comments{
  padding-left: 40px;
  border: 1px solid black;
  height: 50px
}

.inter{
  height: 200px;
  padding: 20px 0 0px 20px;
}

.comment{
  width: 700px;
  height: 100px;
  box-sizing: border-box;
  padding-bottom: 70px;
  resize: none;
}

.button{
  margin-top: 5px;
  padding: 7px;
  width: 80px;
}

.button:hover{
  background-color: beige;
  transition: 0.2s ease-out;
  box-shadow: 0px 0px 3px 0px
}