body{
	margin: 0;
	font-size: 18px;
	font-family: sans-serif;
    /*background-image: url(../img/backgroundheader.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	
background: /*linear-gradient(#141e30, #243b55)*/ black;
  color: white;
}

html {
	color-scheme: dark-light;
}



.nav {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
   overflow: hidden;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 100px;
   font-family: 'Cormorant Garamond', serif;
   font-family: 'Josefin Sans', sans-serif;
   background: linear-gradient(rgb(22 33 52 / 0%), rgb(0 0 0)), url(../img/rain.jpg);   background-size: cover;
   position: relative;
   display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   font-size: 32px;
   text-decoration: none;
   font-weight: 700;
   color: azure;
}

.navbar a {
   position: relative;
   font-size: 18px;
   color: #fff;
   font-weight: 500;
   text-decoration: none;
   margin-left: 40px;
}

.navbar a::before {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 0;
   height: 2px;
   background: #fff;
   transition: 0.3s;
}

.navbar a:hover::before {
   width: 100%;
}

.blogp a {
	position: relative;
   color: #fff;
   font-weight: 500;
   text-decoration: none;
}

.blogp a::before {
	content: '';
    position: absolute;
    left: -2%;
    width: 105%;
    height: 3px;
    transition: height 0.3s;
    background: coral;
    z-index: -1;
    bottom: -5%;
}

.blogp a:hover::before {
	height: 45px;
}


h2{
font
}

header{
	text-align: center;
	margin-top: 30px;
	padding-top: 50px;
	padding-bottom: 100px;
}

/*header img{
	border-radius: 200px;
	width: 300px;
	border: 0px solid black;
	margin-top: 20px;
}*/




.box {
  position: relative;
  width: 300px;
  height: 300px;
  background: transparent;
  border-radius: 50%;
  margin: 0 auto; /* Center the box horizontally */
}

.glowing {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  z-index: -1;
  animation: animate 20s linear infinite;
  border-radius: 100%;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 500% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}

.box::after {
  filter: blur(40px);
}

header h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
}

header h2{
	font-size: 30px;
	font-family: 'Lugrasimo', cursive;
font-family: 'Raleway', sans-serif;
font-weight: normal;
color: black;
}

.adonisss{
	border: 10px solid;
    border-color: lightgoldenrodyellow;
    /* border-radius: 20px; */
    background: lightgoldenrodyellow;
    margin: 50px 200px 0px 200px;
    transform: skew(284deg);
    height: 50px;
}

main{
	text-align: center;
}

.thumb{
	width: 100%;
	height: 300px;
}

main h2{
	font-size: 35px;
	margin: 0px;
	padding: 0px 0px;
}

.youchan {
	font-size: 50px;
  animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}


.chan {
	color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FF5722,
    0 0 82px #FF5722,
    0 0 92px #FF5722,
    0 0 102px #FF5722,
    0 0 151px #FF5722;
    animation: pulsate 2.5s infinite alternate;
}

@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #FF5722,
      0 0 80px #FF5722,
      0 0 90px #FF5722,
      0 0 100px #FF5722,
      0 0 150px #FF5722;
  }
  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #FF5722,
      0 0 45px #FF5722,
      0 0 55px #FF5722,
      0 0 70px #FF5722,
      0 0 80px #FF5722;
  }
}

main ul{
	text-align: center;
	padding-bottom: 20px;
	font-family: helvetica, arial, sans-serif;
}

.box2 {
	padding-bottom: 50px;
	margin-bottom: 50px;
	box-sizing: border-box;
	background: rgb(255,149,0);
background: linear-gradient(90deg, rgba(255,149,0,1) 6%, rgba(253,29,29,1) 25%, rgba(131,58,180,1) 50%, rgba(0,255,224,1) 75%, rgba(7,255,0,1) 100%);
--mask:
    radial-gradient(36.06px at 50% 50.00px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 51% repeat-x,
    radial-gradient(36.06px at 50% -30px,#0000 99%,#000 101%) 50% 20px/80px calc(51% - 20px) repeat-x,
    radial-gradient(36.06px at 50% calc(100% - 50.00px),#000 99%,#0000 101%) calc(50% - 40px) 100%/80px 51% repeat-x,
    radial-gradient(36.06px at 50% calc(100% + 30.00px),#0000 99%,#000 101%) 50% calc(100% - 20px)/80px calc(51% - 20px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.box2 img{
	height: 300px;
	cursor: pointer;
}

.yt{
}

.yt img{
	border: 7px solid transparent;
	border-radius: 200px;
	transition: transform 0.3s ease, border-color 0.3s ease;
}

.yt:hover img{
	border-color: blanchedalmond;
	transform: scale(1.1);

}

main div{
	padding: 20px 0px 10px 0px;
}

main div p{
	margin: 0px;
}

main a{
	color: white;
	display: inline-block;
	border-radius: 200px;
}

a:hover{
	color: whitesmoke;
	background-color: transparent;
}



.box3{
	  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
/*    margin-bottom: 200px;*/
}

.box3 h3{
	display: inline-block;
    padding-left: 20px;
    padding-top: 89px;
    font-size: 70px;
}

iframe{
	margin-left: 140px;
}

.media {
	display: flex;
	flex-direction: column;
}

.emaillist{
	display: flex;
    height: 300px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.emailcol h2{
	display: inline-block;
  width: 470px;
  font-size: 36px;
  font-family: 'Josefin Sans';
  margin-top: 0px
}

.emailcol p{
	font-size: 21px;
	margin: 0px;
	font-family: 'Raleway';
  font-weight: 600;
}

input {
  display:block;
  width:100%;
  margin:15px 0;
  padding:10px;
}

input[type=submit] {
	padding: 12px;
    border: none;
    background-color: #3897d3;
    color: antiquewhite;
    border-radius: 8px;
    width: 475px;
}

.sub:hover {
	background-color: #1f8cd1;
	transition: 0.3s background-color #1f8cd1;
	transition: 0.3s ease-out box-shadow;
  box-shadow: 0px 0px 7px #1f8cd1;
}

form{
	margin: 0px;
	font-weight: 100;
}

form .firstname{
   margin: 20px 0px 7px 0px;
   font-size: 17px;
   border-radius: 7px;
   border: 1px solid #000;
   transition: 0.3s border-color;
   padding: 12px;
   width: 450px;
   height: 15px;
}

.firstname:hover {
  border: 1px solid #aaa;
}

form .email{
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid #000;
    transition: 0.3s border-color;
    padding: 12px;
    width: 450px;
    height: 15px;
}

.email:hover{
	border: 1px solid #aaa;
}

.emailcol{
	text-align: center;
	margin-right: 20px;
  padding: 0px 100px 0px 20px;
}

.emailboxes{
	margin: 30px 100px 0px 0px; 
}

footer{
	margin: 0;
  background: linear-gradient(rgb(0 0 0), rgb(222 3 3 / 0%)), url(../img/rain2.jpg);
  color: black;
  background-position: center;
}

footer p{
	display: inline-block;
	padding: 0px 15px 0px 30px;
	margin: 0;
	width: auto;
	color: floralwhite;
}

.hero{
	height: 70px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;

}

.box2{
/*flex-grow: 1;*/
/*flex-shrink: 0,5;*/
/*flex-basis: 0;*/
/*flex is miles better (a shortcut)*/
/*flex: 1;*/
/*align-self*/
/*order: -1'; - makes it go first even if this item appears last in html*/
/*order is not the best*/
}

.social{
	color: black;
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 70px;
    align-items: flex-end;
    flex-direction: row;
}

 .social img{
 	height: 25px;
 	width: 25px;
 }

 footer a{
 	height: 25px;
 	width: 25px;
 }

/*Media querries:*/ 

/* Target standard phones (e.g., iPhone 6/7/8) */
@media (min-width: 360px) and (max-width: 767px) {
  .thumb{
		max-width: 75%;
	}
}

/* Target larger phones (e.g., iPhone X/XS/11 Pro, Samsung Galaxy S8/S9) */
@media (min-width: 768px) and (max-width: 1023px) {
	body{
		color: ;
	}
}

/* Target larger phones in landscape mode */
@media (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
  body{
		color: ;
	}
}