body{
	margin: 0;
	font-size: 18px;
	font-family: sans-serif;
    /*background-image: url(../img/backgroundheader.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	
	background-color: #010f0f;
  color: white;
}

nav{
	text-align: center;
}

h2{
font
}

header{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
}

header img{
	border-radius: 200px;
	width: 300px;
	border: 7px solid black;
	margin-top: 20px;
}

header h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
}

header h2{
	font-size: 30px;
	font-family: 'Lugrasimo', cursive;
font-family: 'Raleway', sans-serif;
font-weight: normal;
color: black;
}

.adonisss{
	border: 10px solid;
    border-color: lightgoldenrodyellow;
    /* border-radius: 20px; */
    background-color: lightyellow;
    margin: 50px 200px 0px 200px;
    transform: skew(284deg);
    height: 50px;
}

main{
	text-align: center;
}

.thumb{
	width: 800px;
	height: 300px;
}

main h2{
	font-size: 35px;
	margin: 0px;
	padding: 20px 0px;
}

main ul{
	text-align: center;
	padding-bottom: 20px;
	font-family: helvetica, arial, sans-serif;
}

.box2 img{
	height: 300px;
	cursor: pointer;
	transition: 0.1s ease-out;
}

.box2 img:hover{
  width: 805px;
  height: 305px;
}

.yt{
}

.yt img{
	border: 7px solid transparent;
	border-radius: 200px;
	transition: transform 0.3s ease, border-color 0.3s ease;
}

.yt:hover img{
	border-color: blanchedalmond;
	transform: scale(1.1);

}

main div{
	padding: 20px 0px 10px 0px;
}

main div p{
	margin: 0px;
}

main a{
	color: white;
	display: inline-block;
	border-radius: 200px;
}

a:hover{
	color: whitesmoke;
	background-color: transparent;
}

.box3{
	  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
/*    margin-bottom: 200px;*/
}

.box3 h3{
	display: inline-block;
    padding-left: 20px;
    padding-top: 70px;
    font-size: 70px;
}

iframe{
	margin-left: 140px;
}

.media {
	display: flex;
	flex-direction: column;
}

.emaillist{
	display: flex;
    height: 300px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.emailcol h2{
	display: inline-block;
  width: 470px;
  font-size: 36px;
  font-family: 'Josefin Sans';
  margin-top: 0px
}

.emailcol p{
	font-size: 21px;
	margin: 0px;
	font-family: 'Raleway';
  font-weight: 600;
}

input {
  display:block;
  width:100%;
  margin:15px 0;
  padding:10px;
}

input[type=submit] {
	padding: 12px;
    border: none;
    background-color: #3897d3;
    color: antiquewhite;
    border-radius: 8px;
    width: 475px;
}

.sub:hover {
	background-color: #1f8cd1;
	transition: 0.3s background-color #1f8cd1;
	transition: 0.3s ease-out box-shadow;
  box-shadow: 0px 0px 7px #1f8cd1;
}

form{
	margin: 0px;
	font-weight: 100;
}

form .firstname{
   margin: 20px 0px 7px 0px;
   font-size: 17px;
   border-radius: 7px;
   border: 1px solid #000;
   transition: 0.3s border-color;
   padding: 12px;
   width: 450px;
   height: 15px;
}

.firstname:hover {
  border: 1px solid #aaa;
}

form .email{
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid #000;
    transition: 0.3s border-color;
    padding: 12px;
    width: 450px;
    height: 15px;
}

.email:hover{
	border: 1px solid #aaa;
}

.emailcol{
	text-align: center;
	margin-right: 20px;
  padding: 0px 100px 0px 20px;
}

.emailboxes{
	margin: 30px 100px 0px 0px; 
}

footer{
	margin: 0;
	background-color: lightyellow;
	color: black;
}

footer p{
	display: inline-block;
	padding: 0px 15px 0px 30px;
	margin: 0;
	width: auto;
}

.hero{
	height: 70px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;

}

.box2{
/*flex-grow: 1;*/
/*flex-shrink: 0,5;*/
/*flex-basis: 0;*/
/*flex is miles better (a shortcut)*/
/*flex: 1;*/
/*align-self*/
/*order: -1'; - makes it go first even if this item appears last in html*/
/*order is not the best*/
}

.social{
	color: black;
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 70px;
    align-items: flex-end;
    flex-direction: row;
}

 .social img{
 	height: 25px;
 	width: 25px;
 }

 footer a{
 	height: 25px;
 	width: 25px;
 }

/*Media querries:*/ 

/* Target standard phones (e.g., iPhone 6/7/8) */
@media (min-width: 360px) and (max-width: 767px) {
  .thumb{
		max-width: 75%;
	}
}

/* Target larger phones (e.g., iPhone X/XS/11 Pro, Samsung Galaxy S8/S9) */
@media (min-width: 768px) and (max-width: 1023px) {
	body{
		color: ;
	}
}

/* Target larger phones in landscape mode */
@media (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
  body{
		color: ;
	}
}