body{
	margin: 0;
	font-size: 20px;
    background-image: url(../img/backgroundheader.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2{
	
}

header{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
}

header img{
	border-radius: 200px;
	width: 300px;
	border: 7px solid black;
}

header h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
}

header h2{
	font-size: 30px;
	font-family: 'Lugrasimo', cursive;
font-family: 'Raleway', sans-serif;
font-weight: normal;
}

.adonisss{
	border: 10px solid;
	border-color: lightgoldenrodyellow;
	border-radius: 20px;
	background-color: lightyellow;
	margin: 20px 100px 0px 100px;
	transform: skew(-10deg);
}

main{
	text-align: center;
}

.thumb{
	max-width: 150%;
	max-height: 300px;
}

main h2{
	font-size: 35px;
	margin: 0px;
	padding: 20px 0px;
}

main ul{
	text-align: left;
	padding-bottom: 20px;
	font-family: helvetica, arial, sans-serif;
}

.yt{
	border: 10px solid lightyellow;
	border-radius: 300px;
}

main div{
	padding: 20px 0px 10px 0px;
}

main div p{
	margin: 0px;
}


a:hover{
	color: whitesmoke;
	background-color: transparent;
}

footer{
	margin: 0;
	background-color: lightyellow;
}

footer p{
	padding: 20px 0px 0px 30px;
	margin: 0;
	width: 200px;
}
footer a{

}

.hero{
	height: 63px;
}

.container{
	display: flex;
	/*flex-direction: row;*/
	/*justify-content: space-evenly;*/
	/*align-items: flex-start*/
	/*When flex-wrap is set to :wrap;
	align-content can be used:
	align-content: flex-start*/
	/*Gaps: gap: 1em;*/

}

.box2{
/*flex-grow: 1;*/
/*flex-shrink: 0,5;*/
/*flex-basis: 0;*/
/*flex is miles better (a shortcut)*/
/*flex: 1;*/
/*align-self*/
/*order: -1'; - makes it go first even if this item appears last in html*/
/*order is not the best*/
}

.social{
	display: flex;
	flex: 1;
	justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 60px;
    align-items: flex-end;
    flex-direction: row;
}

 .social img{
 	max-height: 20px;
 	width: 20px;
 }

/*Media querries:*/ 

/* Target standard phones (e.g., iPhone 6/7/8) */
@media (min-width: 360px) and (max-width: 767px) {
  .thumb{
		max-width: 75%;
	}
}

/* Target larger phones (e.g., iPhone X/XS/11 Pro, Samsung Galaxy S8/S9) */
@media (min-width: 768px) and (max-width: 1023px) {
	body{
		color: ;
	}
}

/* Target larger phones in landscape mode */
@media (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
  body{
		color: ;
	}
}