body{
	margin: 0px;
	font-family: sans-serif;
	text-align: center;
	background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
h1{
	font-size: 55px;
}

h2{
	font-size: 33px;
}

h2 a{
	display: inline-block; 
}

h1,h2{
	margin: 20px;
}

.mc{
	width: 60px;
	height: 60px;
}

header img{
	border: 7px solid black;
	border-radius: 150px;
}

main a{
	color: honeydew;
}

main a:hover{
	color: orangered;
	background-color: whitesmoke;
}

footer{
	margin: 0px;
	text-align: left;
	padding-left: 30px;
	padding-top: 20px;
	background-color: dimgray;
	height: 37px;
}