body{
	background-color: lightgoldenrodyellow;
}

h1{
	font-size: 42px;
	color: limegreen;
}

h2{
	font-size: 20px;
	color: crimson;
}

.uppercase{
	text-transform: uppercase;
}

.big{
	font-size: 60px;
}

.uppercase.big{
	color: cadetblue;
}

h1 span{
	color: purple;
}